.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
    border: 1px solid yellowgreen;
    font: inherit;
 border-radius: 2px;
}
button{
    font: inherit;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active {
    background-color: rebeccapurple;
    color: white;
}